<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>How to play Chess By : Samarth Vaibav</title>
        <link rel="shortcut icon" href="../static/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <style>
            body{
                color:rgb(83, 43, 226) ;
                background-color: rgb(80, 255, 188);
                font-size: medium;
                /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
                text-align: center;
            }
            nav{
                background-color:#07225c ;
            color:white;
            height: 100px;
            position: relative;
            }
            nav ul{
            background-color:#07225c ;
            color:white;
            border-style: solid;
            border-color:#07225c;
            border-width: 2px;
            padding: 10px;
            border-radius: 10px;
            align-items: center;
            padding-top: 40px;
            }
            nav ul li{
                list-style-type: none;
                display: inline;
                margin-right: 10px;
                margin-left: 10px;
                color: white;
            }
            nav ul li a{
            text-decoration: none;
            color: white;
            }
            nav > .logo{
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                width: 180px;
            }
            
        </style> -->
    </head>
    <body>
        <header>
            <nav>
                <div class="logo"><img src="/static/logo.png" alt="" width="40%"></div>
                <ul>
                    <li><a href="/">About me</a></li>
                    <li><a href="/how_to_play">How to play chess</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/regi">Registration</a></li>
                    <li><a href="/quiz">Quiz</a></li>
                    <li><a href="/mquiz">Math Quiz</a></li>
                    <li><a href="/mquiz">Mountain Lion</a></li>
                    <li><a href = "/feed">Feedback</a></li>
                    <li><a href="/calc">Calculator</a></li>
                    <li><a href = "/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        
       
      

        
<h3>Part 1</h3>
    <br> 
<h3>Level 1 </h3>
<p>Position the board so each player has a black space in their left corner. Have both players sit across from one another to start your game. Turn the board so each player has a black square in the lower-left corner and a white square in the lower-right corner.[1]
    Use the rhyme, "white on the right" to help you remember while you’re setting up your game.
    </p>
    <img src="./static/chess1.jpg" alt = "chess1"> <br> <br> 
    <h3>Level 2</h3>
    <p>Ranks are the horizontal rows and the files are the columns going between the players. Ranks are listed 1-8, starting with the side of the board with the white pieces. Files are listed as the letters “a” through “h” starting from the white player’s left side. Reference a specific square on the board by listing the rank followed by the file.[2]
        For example, the left corner for the white player is a1 while the left corner for the black player is h8.
        Practice notation by listing each move you and your opponent make by writing down the piece and the square to which it moves.
        You do not need to use the rank and file notation system if you don’t want to, but it does make setting up the board easier.</p>
    <img src="./static/chess2.jpg" alt = "chess2">
    '<h3>Level 3</h3>
<p>Place the rooks in the corners of the board. Rooks usually look like castle towers and can move any number of squares horizontally or vertically, but they cannot jump over other pieces. Place the white rooks on squares a1 and h1, and put the black rooks on squares a8 and h8.</p>
<img src="./static/chess3.jpg" alt = "chess3">
<h3>Level 4</h3>

<p>
    Set the knights next to your rooks. The knights look like horses and move in L-shapes by going 2 spaces horizontally and 1 space vertically, or 2 spaces vertically followed by 1 space horizontally. Put the white knights on squares b1 and g1, and set the black knights on b8 and g8.[4]
    Knights are the only pieces that can jump over other pieces as long as the space it ends on is vacant.
    Knights are labeled either as “N” or “Kt” in notation.</p>
    <img src="./static/chess4.jpg" alt = "chess4">
    <h3>Level 5</h3>
    <p>Put the bishops next to your knights. Bishops are the third-tallest pieces in your chess set and move in a straight line diagonally. If you’re the white player, place your bishops on c1 and f1 and put the black bishops on squares c8 and f8.[5]
        Bishops can’t move onto a square that isn’t the same color as its starting square.
        Label bishops as “B” if you’re using notation.</p>
        <img src = "./static/chess5.jpg" alt = "chess5">
        <h3>Level 6</h3>
        <p>Place the queens on their matching colors in the back rows. Queens are the second-tallest pieces and can move any number of squares in any direction as long as the spaces are vacant. Put the white queen on d1 and the black queen on d8 so they’re directly across from one another.[6]
            The queen can’t change directions in a single turn.
            Queens are labeled as “Q” in notation.</p>
            <img src="./static/chess6.jpg" alt = "chess6">
            <h3>Level 7</h3>
            <p>
                Set the kings next to the queens. Your king is the tallest piece in your chess set and is the piece you need to protect throughout the game. Kings can move 1 space at a time in any direction during your turn. Put the kings next to the queens to complete your back row of pieces.[7]
                You can’t move your king into a space where it can get captured during the next turn.
                Kings are labeled as “K” when you’re using notation.</p>
                <img src="/static/chess7.jpg" alt = "chess7">
                <h3>Level 8</h3>
                <p>Place your pawns in the row in front of your other pieces. Your pawns are the shortest and weakest pieces in a game of chess. Pawns can only move 1 space forward toward your opponent’s side of the board. Put 1 white pawn in each square of rank 2 and set the black pawns in the squares of rank 7.[8]
                    Pawns are not labeled with any letter in notation.</p>
                    <img src="/static/chess8.jpg" alt = "chess8">
                    <h3>Part 2</h3>
                    <br>
                    <h3>Level 1</h3>
                    <p>
                        Start the game with the player who has the white pieces. The player who has the white pieces always starts a game of chess. Choose any one of your pieces that is able to move and put it in its new space. After the player with the white piece takes their turn, play alternates to the player with the black pieces.[9]
                        If you’re playing multiple games in a row, alternate who starts with the white pieces to keep the games fair.
                        The player with the white pieces has a slight advantage since they get to make the opening move.
                        Aim to take control of the 4 center squares; d4, e4, d5, and e5; early in the game since they over the most mobility and power for your pieces</p>
                    <img src="/static/p2c1.jpg" alt = "p2c1">
                    <h3>Level 2</h3>
                    <p>Capture your opponent’s pieces by moving onto the same square as them. Capturing pieces means landing on the same space as an opponent’s piece and removing them from the game. Try to capture your opponent’s stronger pieces, like their queen, rooks, and bishops to make their turns less powerful.[11]
                        Pawns cannot capture pieces directly in front of them like other pieces do. Instead, pawns can only capture pieces that are 1 space diagonally in front of them.
                        You cannot capture your opponent’s king. However, to win the game you need to set up your pieces so they would be able to capture the king.</p>
                        <img src = "/static/p2c2.jpg" alt = "p2c2">
                        <h3>Level 3</h3>
                        <p>
                            Put your opponent’s king in check. Move one of your pieces so it can potentially capture your opponent's king during your next turn. When you put your opponent in check, say “check” out loud so your opponent knows. Your opponent must get out of check during their next turn either by moving their king, blocking your piece, or capturing your piece.[12]
                            The king can capture the enemy piece only if it’s not in check after the capture.
                            If you’re in check, you must do something to protect your king or else you forfeit the game.</p>
                            <img src = "static/p2c3.jpg" alt = "p2c3">
                            <p>
                                End the game by putting your opponent’s king in checkmate. Checkmate occurs if you put your opponent’s king in check and they’re unable to make a move to protect it. When this happens, say “checkmate” out loud to declare the end of the game. Let your opponent double check if they can make a move before declaring yourself the winner![13]
                                Games may also end in a draw if neither player can force a checkmate, such as if the kings are the only pieces left on the board.</p>
                                <img src="/static/p2c4.jpg" alt = "p2c4">
                                <h3>Part 3</h3>
                                <br>
                                <h3>Level 1</h3>
                                <p>Capture with pawns using the "en passant" rule. En passant, meaning "in passing" in French, is when one pawn captures another pawn after its starting move. You can only do en passant if your opponent has moved a pawn 2 squares forward from its starting position so it’s next to one of your pawns. If this happens, you may move your pawn into the space behind your opponent’s pawn to capture it.[14]
                                    You can only perform an en passant move during the turn after your opponent moves the pawn. You cannot wait to do it on any other turn after.</p>
                                    <img src = "/static/p3c1.jpg" alt = "p3c1">
                                    <h3>Level 2</h3>
                                    <p>Promote a pawn by getting it across the board. If you move a pawn to the back row on your opponent’s side of the board, it immediately gets promoted to any piece (besides the king) of your choosing. In most cases it's best to choose to promote to a queen because the queen is the most powerful piece. It doesn’t matter if your queen has already been captured when you promote your pawn. Thus, you could have multiple queens on the board at a time.[15]
                                        To indicate pawn promotion in chess notation, write the square where the pawn is promoted. Then write an equals sign followed by a Q to symbolize it’s now a queen. For example, you may write c8=Q.
                                        Reasons to "underpromote" are because promoting to a queen will cause stalemate or to utilize the knight's move.</p>
                                        <img src = "/static/p3c2.jpg" alt = "p3c2">
                                        <h3>Level 3</h3>
                                        <p>
                                            Protect your king by castling. Once during the game, you may choose to make a special move known as castling. To castle, move your king two squares horizontally toward either rook. Then on the same move, move the rook to the square immediately on the other side of the king.[16]
                                            You cannot castle if your king was in check during the previous move, or if it would be in check after the move. You also cannot castle through any squares that are under attack by enemy pieces.</p>
                                        <img src="/static/p3c3..jpg" alt = "p3c3">
                                        <h3>Part 4</h3>
                                         <br>
                                         <h3>Level 1</h3>
                                         <p>
                                            Learn the relative value of each piece. Each piece in a game of chess is valued differently depending on how powerful it is. The queen is the most powerful piece and are worth 9 points. Rooks are worth 5 points, bishops and knights are worth 3, and pawns are worth 1 point. Try to protect your more powerful pieces so you can use them later in the game.[17]
                                            The king's value is undefined as it cannot be captured.
                                            Compare the total value of all the pieces still on the board for each player to determine who has a material advantage.
                                            Point assessment is also useful when considering possible captures. For example, using pieces with a lower value to capture pieces with a higher value gives you more of an advantage.
                                            There's exception to this rule. Different pieces may have a different value in certain positions.</p>
                                            <img src = "static/p4c1.jpg" alt = "p4c1">
                                            <h3>Level 2</h3>
                                            <p>Protect your pieces. Every time your opponent makes a move, take some time to scan the board. Move pieces out of the way if your opponent is going to capture them next turn. Try catching the piece that’s threatening your piece or move one of your pieces to threaten a strong piece your opponent has.
                                                It's okay to give up a piece in order to draw your opponent into a trap where you'll capture an even more valuable piece.
                                                Try to think several moves ahead to anticipate and counteract your opponent’s moves and stop any plans they’re making.</p>
                                                <img src="/static/p4c2.jpg">
                                                <h3>Level 3</h3>
                                                <p>
                                                    Aim to control the center of the board. Pieces near the center are at their most powerful since they have the most mobility and control. This forces your opponent to the sides of the board where they have fewer moves to choose from. Controlling the center helps you play more offensive and your opponent defensive.[18]
                                                    Tip: Keep 1 or 2 pawns in the center of the board so you can still use your stronger pieces to attack.</p>
                                                    <img src = "/static/p4c3.jpg" alt = "p4c3">
</body>
</html>